@tailwind base;
@tailwind components;
@tailwind utilities;

/* AtypDisplay Font Family */
@font-face {
  font-family: 'AtypDisplay';
  src: url('/fonts/AtypDisplay-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'AtypDisplay';
  src: url('/fonts/AtypDisplay-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'AtypDisplay';
  src: url('/fonts/AtypDisplay-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'AtypDisplay';
  src: url('/fonts/AtypDisplay-Semibold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'AtypDisplay';
  src: url('/fonts/AtypDisplay-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'AtypDisplay';
  src: url('/fonts/AtypDisplay-Italic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'AtypDisplay';
  src: url('/fonts/AtypDisplay-LightItalic.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'AtypDisplay';
  src: url('/fonts/AtypDisplay-MediumItalic.otf') format('opentype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'AtypDisplay';
  src: url('/fonts/AtypDisplay-SemiboldItalic.otf') format('opentype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'AtypDisplay';
  src: url('/fonts/AtypDisplay-BoldItalic.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
}

/* AtypText Font Family */
@font-face {
  font-family: 'AtypText';
  src: url('/fonts/AtypText-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'AtypText';
  src: url('/fonts/AtypText-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'AtypText';
  src: url('/fonts/AtypText-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'AtypText';
  src: url('/fonts/AtypText-Semibold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'AtypText';
  src: url('/fonts/AtypText-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'AtypText';
  src: url('/fonts/AtypText-Italic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'AtypText';
  src: url('/fonts/AtypText-LightItalic.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'AtypText';
  src: url('/fonts/AtypText-MediumItalic.otf') format('opentype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'AtypText';
  src: url('/fonts/AtypText-SemiboldItalic.otf') format('opentype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'AtypText';
  src: url('/fonts/AtypText-BoldItalic.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
}

/* AtypKido Font Family */
@font-face {
  font-family: 'AtypKido';
  src: url('/fonts/AtypKido-Thin.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'AtypKido';
  src: url('/fonts/AtypKido-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'AtypKido';
  src: url('/fonts/AtypKido-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'AtypKido';
  src: url('/fonts/AtypKido-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'AtypKido';
  src: url('/fonts/AtypKido-Semibold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'AtypKido';
  src: url('/fonts/AtypKido-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-sans), sans-serif;
}

p, a, input, textarea, button, body {
  font-family: var(--font-mono), monospace;
}

@layer base {
  :root {
    --radius: 0.5rem;
    --sidebar-background: #F5F5F5;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 0, 0%, 90%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 0, 0%, 90%;
    --sidebar-ring: 217.2 91.2% 59.8%;
    --sidebar-active: 44, 100%, 41%;

    --main-background: #f8f8f8;
    --font-sans: 'AtypText', sans-serif;
    --font-mono: 'AtypText', monospace;
  }

  body {
    @apply text-black dark:text-white bg-white dark:bg-neutral-900;
  }
  .dark {
    --sidebar-background: #0B1320;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 0, 0%, 25%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 0, 0%, 25%;
    --sidebar-ring: 217.2 91.2% 59.8%;
    --sidebar-active: #BBF985;

    --main-background: #010A19;
  }
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
   /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
  }
}

.gradient-border {
  position: relative;
  /* display: inline-block; */
  /* padding: 12px 24px; */
  color: white;
  background-color: transparent;
  /* border-radius: 8px; */
  z-index: 1;
}

.gradient-border::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 1px;
  background: linear-gradient(90deg, #BBF985,#009EFF);
  border-radius: 4px;
  -webkit-mask: 
      linear-gradient(white 0 0) content-box, 
      linear-gradient(white 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  z-index: -1;
}

.gradient-border-wrapper {
  position: relative;
  display: inline-block;
  color: white;
  background-color: transparent;
  border-radius: 8px;
  z-index: 1;
}

.gradient-border-wrapper::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 1px;
  background: linear-gradient(90deg, #BBF985,#009EFF);
  border-radius: 8px;
  -webkit-mask: 
      linear-gradient(white 0 0) content-box, 
      linear-gradient(white 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  z-index: -1;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #d1d5db;
  border-radius: 4px;
  transition: background 0.2s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: #9ca3af;
}


.gradient-border {
  position: relative;
  /* display: inline-block; */
  /* padding: 12px 24px; */
  color: white;
  background-color: transparent;
  /* border-radius: 8px; */
  z-index: 1;
}

.gradient-border::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 1px;
  background: linear-gradient(90deg, #BBF985,#009EFF);
  border-radius: 4px;
  -webkit-mask: 
      linear-gradient(white 0 0) content-box, 
      linear-gradient(white 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  z-index: -1;
}

.gradient-border-wrapper {
  position: relative;
  display: inline-block;
  color: white;
  background-color: transparent;
  border-radius: 8px;
  z-index: 1;
}

.gradient-border-wrapper::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 1px;
  background: linear-gradient(90deg, #BBF985,#009EFF);
  border-radius: 8px;
  -webkit-mask: 
      linear-gradient(white 0 0) content-box, 
      linear-gradient(white 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  z-index: -1;
}


.gradient-border-main {
  position: relative;
  /* display: inline-block; */
  padding: 9px 52px !important;
  color: white;
  background-color: #010A19;
  border-radius: 8px;
  z-index: 1;
}

.gradient-border-main::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 2px;
  background: linear-gradient(90deg, #BBF985,#009EFF);
  border-radius: 8px;
  -webkit-mask: 
      linear-gradient(white 0 0) content-box, 
      linear-gradient(white 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  z-index: -1;
}